.a-logo-white__logo {
  width: 180px;
  transition: all 0.35s ease-in-out;
}


.a-logo--js-active .a-logo-white__logo {
  width: 141px !important;
}

.o-footer .a-logo--js-active .a-logo-white__logo{
  width: 230px !important;
}