.products{
  margin-top: 38px;
  padding: 0px 0px;
  margin-bottom: 38px;
  
  .a-titles-title {
    font-size: 22px;
  }
}

.products-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  max-width: 90%;
  margin: auto;
}

.m-card-product {
  padding-bottom: 30px;
  margin: auto;
  box-shadow: var(--shadow-boxes);
  border-radius: var(--border-radius--regular);
  height: 100%;
}

.m-card-product__img {
  height: 250px;
}

.m-card-product__title{
  min-height: 50px;
}

.m-card-product__body {
  max-width: 90%;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  min-height: 290px;
  height: 60%;
  justify-content: space-between;

  & .a-titles-title {
    font-size: 22px;
    color: var(--main-color);
    margin: 0px;
  }

}

.m-card-product__tags {
  display: flex;
  gap: 10px;
}

.m-card-product__short-desc{
  text-overflow: ellipsis;
  max-height: 95px;
  overflow: hidden;
  white-space: pre-wrap;
}

.m-card-product__desc strong {
  color: var(--main-color);
}

.regular-price {
  font-size: 25px;
  color: var(--main-color);
}

.m-card-product__body .m-card-product__footer {
  bottom: 0px;
  width: 100%;
}

@media(max-width: 768px){
  .products-content {
    grid-template-columns: 100%;
    margin-top: 40px;
  }
}
