.o-impact {
    margin-top: 88px;
}

.o-impact__content {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 88px;
}

.o-impact-map {
    width: 100%;
    height: 100%;
}

.o-impact-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin: 70px auto;
}

@media(max-width: 768px) {
    .o-impact__content {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .o-impact-right{
        margin: 10px auto;
    }
}