.a-logo .custom-logo {
    height: 80px;
    width: 100%;
}

.a-logo-white {
    text-align: center;
}

.a-logo-white__logo {
    height: 60px;
}

@media(max-width: 768px) {
    .a-logo .custom-logo {
        height: 40px;
    }

    .a-logo-white__logo{
        max-width: 70%;
    }
}