@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
  scroll-behavior: smooth;
}

:root{
    --font-titles: 'Roboto Mono', monospace;
    --font-text: 'Poppins', sans-serif;

    --main-color: #280384;
    --secondary-color: #6C46EB;
    --tertiary-color: #4919A1;
    --quaternary-color: #37393F;
    --quinary-color: #F9B32A;
    --senary-color: #EAEAEA;
    --septenary-color: #A1AEBF;
    --gray-color: #525151;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --color-parragraph: #525151;

    --tone-color-main: #F1F7FF;
    --tone-color-secondary: #FFEDE3;
    --tone-color-tertiary: #F7F7F7;

    --clear-color-one: #FEF6E2;
    --clear-color-two: #F2F7FE;
    --clear-color-three: #F8F7FF;
    --clear-color-four: #F8F8F8;
    --clear-color-five: #F9E4BC;
    --clear-color-six: #DEFFEE;
    
    
    --size-xlarge: 3.75rem;
    --size-mlarge: 3.125rem;
    --size-large: 2.113rem;
    --size-medium-large: 1.488rem;
    --size-medium: 1rem;
    --size-medium-regular: 0.75rem;
    --size-regular: 0.625rem;
    
    --border-radius--regular: 35px;

    /* overwrite */
    --swiper-theme-color: #6C46EB !important;
    
    /* shadow-boxes */
    --shadow-boxes: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.main {
    overflow: hidden;
}

h1, h2, h3, h4{
    font-family: var(--font-titles);
    text-wrap: balance;
}

p, h5, ul, li, span, a, pre, summary, td, th, address, strong{
    font-family: var(--font-text);
    text-wrap: pretty;
}

form span, form p{
    font-family: var(--font-text) !important;
}

input, textarea, button{
    font-family: var(--font-text) !important;
}

pre {
    max-width: 100%;
    text-wrap: pretty;
}

.g-content-regular{
    max-width: 70%;
    margin: 0 auto;
}

.g-content-middle{
    max-width: 42%;
    margin: 0 auto;
}

.g-content-5X{
    max-width: 54%;
    margin: 0 auto;
}

/* .g-background--home{
    background-image: url(../assets/img/bg-effects.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


.swiper-wrapper{
    align-items: stretch !important;
}

.swiper-slide{
    height: auto !important;
}

.swiper-wrapper {
    max-height: 100vh;
}

@media(max-width: 768px){
    .swiper-wrapper {
        height: inherit;
        max-height: inherit;
    }
}

/* FORMINATOR */

.forminator-select-dropdown-container--open .forminator-custom-form-967.forminator-dropdown--default .select2-results .select2-results__options .select2-results__option.select2-results__option--selected{
    background-color: white !important;
    color: var(--main-color) !important;
}

@media(min-width: 1380px){
    body{
        .g-content-regular,
        .programs-list,
        .o-footer,
        .o-tranning-model,
        .o-cat-products,
        .products-content,
        .o-archive-product{
            max-width: 1200px;
        }
    }
}

@media(max-width: 768px){
    
    :root{    
        --size-xlarge: 3rem;
        --size-large: 1.8rem;
        --size-medium-large: 1.288rem;
        --size-medium: 1rem;
        --size-medium-regular: 0.75rem;
        --size-regular: 0.625rem;
    
    }

    .g-content-regular,
    .g-content-5X{
        max-width: 95%;
    }

    .g-content-middle{
        max-width: 95%;
    }
}


/* checkgout  */
.checkout.woocommerce-checkout {
    margin: auto;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 70% 28%;
    gap: 15px;
    max-width: 100%;
    h3{
        color: var(--main-color);
        font-size: var(--size-medium-large);
        font-family: var(--font-titles);
        margin-bottom: 20px;
    }

    label {
        font-size: 18px;
        font-weight: 600;
    }

    .woocommerce-additional-fields {
        width: 0px;
        overflow: hidden;
        display: none;
    }

    input {
        border: solid 0.5px gray;
        padding: 11px;
        border-radius: 5px;
    }

    #order_review_heading {
        display: none;
    }

    #order_review {
        grid-row-start: 1;
        grid-column-start: 2;
    }
        
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{
    width: 45vw;
}

.woocommerce-billing-fields__field-wrapper {
    display: grid;
    gap: 8px;
}

.woocommerce form .form-row {
    padding: 3px;
    margin: 0 0 6px;
    width: 100%;
}

#billing_state_field {
    grid-row-start: 5;
}

#billing_city_field {
    grid-row-start: 6;
}

@media(max-width: 1380px){
    .checkout.woocommerce-checkout{
        max-width: 1200px;
    }
}

@media(max-width: 768px){
    .checkout.woocommerce-checkout {
        display: block;
        max-width: 95%;
    }   

    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
        width: 84vw;
    }

    .checkout_coupon.woocommerce-form-coupon,
    .woocommerce-notices-wrapper{
        width: 100%;
    }

    .checkout_coupon.woocommerce-form-coupon {
        max-width: 100% !important;
        width: 100%;
    }
}


/* finalizar oden */

.woocommerce.wp-block-group.alignwide {
    max-width: 76%;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 21px;
    text-align: center;
}

ul.order_details {
    display: flex;
    justify-content: center;
}

#submit_payu_latam {
    border: none;
    color: white;
    background-color: var(--main-color);
    padding: 5px 28px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 16px;
}

.btn-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/** Woocommerce cart **/

.wc-block-components-sidebar-layout.wc-block-cart.wp-block-woocommerce-filled-cart-block {
    max-width: 80%;
    margin: auto;
    padding-top: 135px;
}

a.wc-block-components-button.wp-element-button.wc-block-cart__submit-button {
    background: var(--main-color);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 12px;
}

.woocommerce-billing-fields__field-wrapper {
    text-align: left;
}

/** Woocommerce get order **/
.woocommerce-order-received {
    
    .woocommerce-thankyou-order-received {
        font-size: 25px;
        color: var(--main-color);
        margin-bottom: 16px;
        font-weight: bold;
        margin-top: 10px;
    }

    .woocommerce-thankyou-order-details.order_details {
        justify-content: space-around;
    }

    .woocommerce-order-details__title {
        margin-bottom: 17px;
        color: var(--main-color);
    }

    .woocommerce-order {
        max-width: 80%;
        margin: auto;
        padding: 100px 0px;
    }
    
    table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
        box-shadow: var(--shadow-boxes);
        padding: 18px;
        border-radius: 16px;
    }

    section.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses {
        display: flex;
        gap: 19px;
    }
}

.wc-block-cart-item__image img {
    width: 100px !important;
    border-radius: 12px;
    object-fit: cover;
    height: 120px;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    margin-top: 1rem;
    float: left;
    width: 100%;
}

.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title, 
.wc-block-components-totals-item__description.wc-block-components-totals-shipping__via{
    font-family: var(--font-text) !important;
}

/* checkout */
.woocommerce-form-coupon-toggle {
    display: none;
}

.checkout_coupon.woocommerce-form-coupon {
    display: block !important;
}

.select2-container--default .select2-selection--single{
    height: 44px;
    border-radius: 7px !important;
    overflow: hidden;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    line-height: 42px !important;
}

.checkout_coupon.woocommerce-form-coupon {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin: auto !important;
    margin: 5px !important;
    border-radius: 15px !important;
    padding: 12px !important;

    p.form-row.form-row-first {
        width: 60%;
    }

    input#coupon_code {
        height: 36px;
        border-radius: 8px;
        padding: 5px 12px;
        border: solid 1px gray;
    }
    
    .form-row.form-row-last {
        width: 38% !important;
    }

    button.button {
        background: var(--secondary-color) !important;
        color: white !important;
        border-radius: 13px !important;
    }
}

.woocommerce-message {
    border-top: 3px solid var(--secondary-color) !important;
    border-radius: 5px;
    font-family: var(--font-text);
    
    .button.wc-forward {
        border: solid 1px var(--secondary-color);
        color: var(--secondary-color);
        font-weight: 400;
    }
}


@media(min-width: 1380px){
    .woocommerce-order-received{
        .woocommerce-order {
            max-width: 1200px;
            padding: 100px 0px;
        }
    }
}

@media(max-width: 768px){
    .woocommerce-order-received{

        .woocommerce-order {
            max-width: 95%;
            padding: 80px 0px;
        }

        .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
            flex-direction: column;
            gap: 10px;
        }

        .woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses {
            flex-direction: column;
        }

        table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details{
            padding: 8px;
        }

    }
}

@media(max-width: 768px){
    .woocommerce.wp-block-group.alignwide{
        max-width: 95%;
    }
}

.footer{
    .a-social__icon{
        width: 32px;
    }

    .forminator-field {
        background: white;
    }
}
