@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
  scroll-behavior: smooth;
}

:root{
    --font-titles: 'Roboto Mono', monospace;
    --font-text: 'Poppins', sans-serif;

    --main-color: #280384;
    --secondary-color: #6C46EB;
    --tertiary-color: #4919A1;
    --quaternary-color: #37393F;
    --quinary-color: #F9B32A;
    --senary-color: #EAEAEA;
    --septenary-color: #A1AEBF;
    --gray-color: #525151;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --color-parragraph: #525151;

    --tone-color-main: #F1F7FF;
    --tone-color-secondary: #FFEDE3;
    --tone-color-tertiary: #F7F7F7;

    --clear-color-one: #FEF6E2;
    --clear-color-two: #F2F7FE;
    --clear-color-three: #F8F7FF;
    --clear-color-four: #F8F8F8;
    --clear-color-five: #F9E4BC;
    --clear-color-six: #DEFFEE;
    
    
    --size-xlarge: 3.75rem;
    --size-mlarge: 3.125rem;
    --size-large: 2.113rem;
    --size-medium-large: 1.488rem;
    --size-medium: 1rem;
    --size-medium-regular: 0.75rem;
    --size-regular: 0.625rem;
    
    --border-radius--regular: 35px;

    /* overwrite */
    --swiper-theme-color: #6C46EB !important;
    
    /* shadow-boxes */
    --shadow-boxes: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.main {
    overflow: hidden;
}

h1, h2, h3, h4{
    font-family: var(--font-titles);
    text-wrap: balance;
}

p, h5, ul, li, span, a, pre, summary{
    font-family: var(--font-text);
    text-wrap: pretty;
}

form span, form p{
    font-family: var(--font-text) !important;
}

input, textarea, button{
    font-family: var(--font-text) !important;
}

pre {
    max-width: 100%;
    text-wrap: pretty;
}

.g-content-regular{
    max-width: 70%;
    margin: 0 auto;
}

.g-content-middle{
    max-width: 42%;
    margin: 0 auto;
}

.g-content-5X{
    max-width: 54%;
    margin: 0 auto;
}

/* .g-background--home{
    background-image: url(../assets/img/bg-effects.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


.swiper-wrapper{
    align-items: stretch !important;
}

.swiper-slide{
    height: auto !important;
}

.swiper-wrapper {
    max-height: 100vh;
    height: 100vw;
}

@media(max-width: 768px){
    .swiper-wrapper {
        height: inherit;
        max-height: inherit;
    }
}

/* FORMINATOR */

.forminator-select-dropdown-container--open .forminator-custom-form-967.forminator-dropdown--default .select2-results .select2-results__options .select2-results__option.select2-results__option--selected{
    background-color: white !important;
    color: var(--main-color) !important;
}

@media(max-width: 768px){
    
    :root{    
        --size-xlarge: 3rem;
        --size-large: 1.8rem;
        --size-medium-large: 1.288rem;
        --size-medium: 1rem;
        --size-medium-regular: 0.75rem;
        --size-regular: 0.625rem;
    
    }

    .g-content-regular,
    .g-content-5X{
        max-width: 95%;
    }

    .g-content-middle{
        max-width: 95%;
    }
}


/* checkgout  */
.checkout.woocommerce-checkout {
    max-width: 80%;
    margin: auto;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-top: 120px;
    h3{
        color: var(--main-color);
        font-size: var(--size-medium-large);
        font-family: var(--font-titles);
        margin-bottom: 20px;
    }

    label {
        font-size: 18px;
        font-weight: 600;
    }

    .woocommerce-additional-fields {
        width: 0px;
        overflow: hidden;
        display: none;
    }

    input {
        border: solid 0.5px gray;
        padding: 11px;
        border-radius: 5px;
    }

    #order_review_heading {
        display: none;
    }

    #order_review {
        grid-row-start: 1;
        grid-column-start: 2;
    }
        
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{
    width: 50vw;
}

@media(max-width: 768px){
    .checkout.woocommerce-checkout {
        display: block;
        max-width: 95%;
    }   

    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
        width: 84vw;
    }
}


/* finalizar oden */

.woocommerce.wp-block-group.alignwide {
    max-width: 86%;
    margin: auto;
    padding: 6px 0px 85px;
}

#submit_payu_latam {
    border: none;
    color: white;
    background-color: var(--main-color);
    padding: 5px 28px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 16px;
}

@media(max-width: 768px){
    .woocommerce.wp-block-group.alignwide{
        max-width: 95%;
    }
}