.products{
  position: relative;
}

.m-product-filter__list {
  text-align: center;
  border: 1px solid var(--main-color);
  padding: 12px;
  border-radius: 16px;
  max-width: 83%;
  margin: 24px auto;
  background-color: var(--clear-color-two);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: -65px;
  left: 0px;
  right: 0px;
}

.m-product-filter__options{
  color: var(--main-color);
  padding: 8px 25px;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: solid 1px transparent;
  background: transparent;
  text-decoration: none;
}

.m-product-filter__options:hover{
  background: white;
  border-radius: 16px;
  border: solid 1px var(--main-color);
}

.m-product-filter__options--active{
  background: white;
  border-radius: 16px;
  border: solid 1px var(--main-color);
}

.o-archive-product__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 30px 0px;
}

@media(max-width: 768px){
  .entrenate-banner__description{
    max-width: 97%;
  }

  .m-product-filter__list{
    max-width: 97%;
    flex-wrap: wrap;
    top: -111px;
  }

  .m-product-filter__options{
    padding: 8px 12px;
    font-size: 13px;
  }
}