.a-titles-title{
    font-size: var(--size-large);
    margin-bottom: 20px;
}

.a-titles.a-titles--main{
    text-align: center;
}

.a-titles--main .a-titles-title{
    color: var(--main-color);
}

.a-titles--black .a-titles-title{
    color: var(--black-color);
}

@media(max-width: 768px){
    .a-titles-title{
        margin: auto;
        margin-bottom: 0px;
        max-width: 92%;
    }

}