.m-nav a{
  color: white;
}

.banner-product {
  min-height: 250px;
  background: var(--secondary-color);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.banner-product__title {
  max-width: 80%;
  margin: auto;
}

.o-archive-product{
  max-width: 84%;
  margin: auto;
}

.o-archive-producto__list {
  text-align: center;
  border: 1px solid var(--main-color);
  padding: 12px;
  border-radius: 16px;
  max-width: 83%;
  margin: 24px auto;
  background-color: var(--clear-color-two);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.o-archive-producto__options{
  color: var(--main-color);
  padding: 8px 25px;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: solid 1px transparent;
  background: transparent;
}

.o-archive-producto__options:hover{
  background: white;
  border-radius: 16px;
  border: solid 1px var(--main-color);
}

.o-archive-producto__options--active{
  background: white;
  border-radius: 16px;
  border: solid 1px var(--main-color);
}

.o-archive-product__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 30px 0px;
}

@media(max-width: 768px){
  .banner-product{
    min-height: 190px;
  }

  .o-archive-product__content {
    grid-template-columns: 1fr;
  }

  .banner-product__title{
    font-size: 18px;
  }

  .o-archive-product{
    max-width: 95%;
  }

  .o-archive-producto__list{
    max-width: 96%;
  }

  form.o-archive-producto__list {
    flex-wrap: wrap;
  }

  .o-archive-producto__options{
    padding: 8px 10px;
  }

}