.m-card-team {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    padding-bottom: 26px;
}

.m-card-team__img {
    height: 250px;
}

.m-card-team__body {
    text-align: center;
}

.m-card-team__title {
    color: var(--main-color);
    font-size: var(--size-medium-large);
    margin-bottom: 9px;
}

.m-card-team__btn {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.m-card-team__link {
    background-color: var(--secondary-color);
    padding: 5px 5px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    transition: 0.35s;
}

.m-card-team__link:hover{
    background-color: var(--main-color);
    transition: 0.35s;
}

.m-card-team__link-img {
    max-width: 24px;
}