.m-testimonial__content {
    display: flex;
    gap: 20px;
    background: var(--white-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius--regular);
    align-items: center;
}

.m-testimonial__image {
    width: 250px;
}

.m-testimonial-left {
    width: 40%;
}

.m-testimonial__image {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: var(--border-radius--regular);
}

.m-testimonial-info {
    width: 60%;
    padding: 10px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.m-testimonial-info__name {
    font-size: var(--font-size-regular);
    color: var(--main-color);
}

@media(max-width: 768px) {

    .m-testimonial {
        max-width: 80%;
        margin: auto;
    }

    .m-testimonial__content{
        flex-direction: column;
    }

    .m-testimonial__image{
        height: 180px;
    }
    
    .m-testimonial-left {
        width: 100%;
    }

    .m-testimonial-info {
        padding: 10px 12px;
        width: 95%;
    }
}